.v-pagination__navigation,
.v-pagination__item {
  box-shadow: none !important;
}

.v-pagination__item {
  border: 1px solid rgba(151, 151, 151, 0.12);
  border-radius: 4px;
}

.domacinstva {
  padding: 2em;

  .domacinstva-wrapper {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
