.additional-filters {
  height: 100%;
  width: 100%;
  padding: 28px 24px 32px 24px;

  .filter-header-text {
    color: $primary-text;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .v-btn {
    border-color: $border;
    min-width: 34px !important;
    height: 34px !important;
    width: 34px !important;
  }

  .filter-counter-text {
    display: inline-block;
    margin: 0px 18px 0px 18px;
    width: 10px;
  }

  .filter-text {
    color: $secondary-text;
    font-size: 16px;
    font-weight: 400;
  }

  .filter-rooms {
    padding: 32px 0px 24px 0px;
    border-bottom: 1px solid $border;
  }

  .filter-extras {
    height: 144px;
    display: flex;
    flex-flow: column wrap;
    margin: 24px 0 36px 0;
  }

  .v-input--selection-controls {
    margin: 0 0 10px 0 !important;
    padding: 0px !important;
  }

  .filter-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .fiter-btn {
    width: 116px !important;
    margin-right: 0px !important;
    height: 36px !important;
    text-transform: none !important;
    font-weight: 600;
  }
}
