.v-pagination__navigation,
.v-pagination__item {
  box-shadow: none !important;
}

.v-pagination__item {
  border: 1px solid rgba(151, 151, 151, 0.12);
  border-radius: 4px;
}

.domacinstva {
  .domacinstva-wrapper {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .domacinstva-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .domacinstva-btn-wrapper {
    justify-content: center !important;
  }
}
