.categories-sidebar {
  min-width: 258px;

  .categories-sidebar-title {
    color: $primary-text;
    font-family: "BalooPaaji2";
    font-size: 34px;
    font-weight: 600;
    line-height: 59.87px;
  }

  .categories-sidebar-subtitle {
    margin-top: 32px;
    margin-bottom: 24px;
    color: $secondary-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
  }

  .categories-sidebar-checkboxes,
  .categories-sidebar-locations,
  .categories-sidebar-price {
    padding-bottom: 32px;
    border-bottom: 1px solid $border;
  }

  .categories-sidebar-label {
    margin: 24px 0 16px 0;
  }

  .categories-sidebar-price-wrapper {
    justify-content: space-between;

    .v-input {
      max-width: 100px !important;
    }
  }

  .categories-sidebar-divider {
    margin-bottom: 30px;
    font-size: 16px;
    color: $primary-text;
  }

  .categories-sidebar-btn {
    width: 100%;
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    margin: 0px !important;

    .v-icon {
      margin-left: 12px;
      font-size: 20px;
    }
  }

  .categories-sidebar-additional {
    margin-top: 24px;
  }
}
