.households {
  margin-bottom: 4em;

  .no-content {
    height: 500px;
    width: 100%;
    color: $secondary-text;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .households-header {
    margin-bottom: 80px;
  }

  .housholds-body {
    display: flex;
    flex-flow: row;
  }

  .sort-label {
    color: $secondary-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: right;
  }

  .households-right-sort {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;

    .sort-label {
      margin-right: 16px;
    }

    .households-sort {
      width: 100%;
      max-width: 170px !important;
      font-weight: 500;
      font-size: 14px;
      color: $primary-text;

      .v-select__selection {
        margin-right: 0px !important;
      }

      .v-select__selections {
        max-width: 160px !important;
      }
    }
  }

  .households-right-wrapper {
    width: 100%;
  }

  .households-body-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 44px;
    margin-left: 48px;

    .card-item-wrapper {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

@media only screen and (max-width: 1263px) {
  .housholds-body {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;

    .households-body-content {
      margin-left: 0px;
    }

    .households-right-sort {
      margin-top: 24px;
      flex-direction: column !important;

      .sort-label {
        margin-bottom: 8px;
      }
    }

    .v-expansion-panel::before {
      box-shadow: none !important;
    }

    .v-expansion-panel {
      border: 1px solid $border;
    }

    .categories-mobile-view {
      width: 320px !important;
    }

    .v-expansion-panel-content__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
