  .v-toolbar {
    box-shadow: none !important;
  }

  .login-wrapper {
    width: 100%;
    height: calc(100vh - 64px);

    .login-box {
      border: 1px solid $border;
      border-radius: 8px;
      max-width: 384px;
      width: 384px;
      padding: 24px;
    }
  }

  .login-label {
    color: $secondary-text;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
  }

  .login-header-image {
    height: 64px;
    width: 64px;
    background-image: url("../assets/symbol.svg");
  }

  .login-header-text {
    color: $primary-text;
    font-family: "BalooPaaji2Bold";
    font-size: 34px;
    font-weight: 400;
    line-height: 59.87px;
    margin-bottom: 16px;
  }

  .login-forgotten {
    color: $primary;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 17.07px;
    text-align: right;
  }

  .login-btn {
    text-transform: none;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin: 32px 0 50px 0;
  }

  .login-registracija {
    color: $primary;
    font-family: "MontserratBold";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    line-height: 19px;
    text-align: right;
  }

  @media only screen and (max-width: 500px) {
    .login-box {
      width: 90% !important;
    }
  }
