.news {
  margin-bottom: 80px;

  .image-header-parent {
    margin-bottom: 80px;
    margin-top: 20px;
  }

  .news-item-parent {
    margin-bottom: 48px;
    margin-left: 10%;
    margin-right: 10%;

    .news-item-image {
      width: 383px !important;
      min-width: 383px !important;
    }
  }
}
