.news-item-wrapper {
  padding: 0px 10% 0px 10%;
}

.news-item-title {
  color: $primary-text;
  font-family: "MontserratBold";
  margin-bottom: 32px;
  font-size: 34px;
}

.article-item-text {
  padding-bottom: 80px;
}

@media only screen and (max-width: 640px) {
  .news-item-wrapper {
    padding: 0px !important;
  }

  .selected-news-header {
    display: flex;
    flex-flow: column !important;
  }

  .selected-news-title {
    margin-top: 20px;
  }
}
