.single-household {
  padding-bottom: 4em;

  .household-carousel {
    margin-bottom: 32px;

    .v-carousel__item {
      border-radius: 8px !important;
    }
  }

  .single-household-tag {
    height: 46px;
    width: 46px;
    max-height: 46px;
    max-width: 46px;
    margin-right: 20px;
  }

  .booking-image {
    width: 104px;
    height: 18px;
  }

  .single-household-title {
    color: $primary-text;
    font-family: "MontserratBold";
    font-size: 34px;
  }

  .single-household-description {
    color: $secondary-text;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
  }

  .single-household-airbnb-btn {
    background-color: #ff5a5f !important;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(255, 90, 95, 0.5);
    width: 312px;
    height: 36px;
  }

  .single-household-booking-btn {
    margin-top: 2em;
    background-color: #003580 !important;
    box-shadow: 0 10px 20px 0 rgba(47, 113, 255, 0.5);

  }

  .single-household-airbnb-wrapper {
    margin-left: 5%;
    padding: 24px;
    border: 1px solid $border;
    height: 100%;
    border-radius: 8px;
  }

  .single-household-airbnb-text {
    margin-bottom: 24px;
    color: $primary-text;
    font-size: 16px;
  }

  .single-household-body {
    padding: 0 7% 0 7%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }

  .single-household-tags-one {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 1px solid $border;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 6px 25px 6px 25px;
  }

  .single-household-tags-one-wrapper {
    display: flex;
    padding: 32px 0 8px 0;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .single-household-tags-two {
    display: flex;
    width: 33%;
    margin: 24px 0 24px 0;
    flex-direction: row;
    align-items: center;
  }

  .single-household-tags-two-wrapper {
    position: relative;
    padding: 8px 0 8px;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .single-household-location-text {
    color: $primary-text;
    font-size: 20px;
  }

  .single-household-location {
    width: 40vw;
  }

  .single-household-location-text {
    margin: 46px 0 24px 0;
    font-weight: 600;
  }

  .single-household-tags-three {
    background-color: #f7f7f7;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 14px;
    margin-bottom: 24px;
    min-width: 100px;

    b {
      margin-right: 12px;
    }
  }

  .single-household-tags-three-badge {
    display: flex;
    flex-flow: row wrap;
  }

  .single-household-tags-three-header {
    font-size: 14px;
    color: $secondary-text;
    margin: 32px 0 16px 0;
  }

  .single-household-tag-text-one {
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 1240px) {
    .single-household-body {
      flex-direction: column !important;
      padding: 0px;
    }

    .single-household-location {
      width: 100%;
    }

    .single-household-airbnb-wrapper {
      margin: 2em 0 4em 0;
    }
  }
}
