a {
  text-decoration: none;
}

.header {
  .header-buttons {
    display: flex;
    flex-flow: row nowrap !important;
  }

  .header-log-in,
  .header-sign-up {
    border-radius: 4px;
    width: 116px;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-transform: none !important;
  }

  .header-sign-up {
    border: 1px solid $border;
  }

  .header-log-in {
    margin-right: 16px;
    margin-left: 16px;
    box-shadow: 0 10px 20px 0 rgba(49, 150, 71, 0.25) !important;
    background-color: $primary !important;
    color: white !important;
  }

  .v-toolbar__items {
    height: 48px !important;
  }

  .v-tab {
    color: $primary-text;
    font-size: 14px;
    text-transform: capitalize;
  }

  .v-tab--active {
    color: #000 !important;
    font-family: "MontserratBold";
  }

  .header-buttons-sidebar {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    .header-log-in {
      margin: 2em 0 2em 0;
    }
  }

  .header-toolbar,
  .v-toolbar__content {
    padding: 0px !important;
    height: 126px !important;
    width: 100%;
  }

  .header-toolbar {
    display: flex;
    justify-content: center;
  }

  .header-menu {
    margin-right: 16px;

    .v-app-bar__nav-icon {
      left: -11px;
    }
  }

  .header-logo {
    width: 180px;
    height: 35px;
    background-image: url("../assets/logoHeader.svg");
  }
}
